body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: lightblue;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
img {
    width: 400px;
    height:580px;
    border: 2px solid orange;
    border-radius: 12px;
}
h1 {
    padding: 12px;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
input {
 border: 0;
 padding: 12px;
 font-size: 22px;
 border-radius: 12px; 
 margin: 10px 0 10px 0;  
}

input[type="submit"]{
    background-color: red;
    color: white;
}

ul {
    padding: 12px;
}
li {
    padding: 12px;
    font-size: 22px;
}
.sectionResult {
    text-align: left;
}

button {
    border: 0;
    padding: 12px;
    width: 100px;
    font-size: 22px;
    height: 50px;
    background-color:orangered;
    color: white;
    margin-bottom: 12px;
    border-radius: 12px;
}

.sectionResult {
    margin-left: 12px;
    font-size: 18px;
}